    body{
        background-color: rgb(207, 204, 204);
        justify-content: center;
        font-size: 15px;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 3em;
        text-align: center;
        background-color: whitesmoke;
        color: rgb(65, 65, 65);;
        margin-top: auto;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: grey;
        font-size: 2.5em;
        text-align: center;
        background-color: black
    }

    h3{
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-align: center;
    }

    ul{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.2em;
    }

    p{
        font-family: 'Roboto', sans-serif;
        font-weight:300;
        font-style: italic;
        line-height: 1.5em;
        text-align:justify;
        font-size: 1.2em;
    }

    h4{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        text-align: center;
    }

    h5{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:rgb(65, 65, 65);
        font-size: 1.2em;
        text-align: center;
    }



    #img-tiago{
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }

    #img-trybe{
        border-radius: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }

    #gif{
        border-radius: 12%;
        padding:30px;
    }

    div.grid.icons{
        text-align: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        font-size: 2em;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 1.5em;

    }